{% extends 'test/test_detail.html' %}
{% load static %}
{% block test_answer_detail %}

<hr class="hr">

<section class="flex-section">
    <h2 class="h2">Answers list</h2>
        <a href="{% url 'answer_new' %}" class="button header-button">New</a>
</section>

<section class="test-answers">
    <p>Number of participants: {{ test.participant_number }}</p>
    <div class="answers-list">
        {% for answer in answers %}
            <p class="answers-list-question strong">{{ answer.question }}</p>
            <p class="answers-list-answer">{{ answer.participant_answer }}</p>
            <p class="answers-list-warning">Question warning: {{ answer.teaching_warning }}</p>
            {% empty %}
                <p>No answers recorded for this test.</p>
        {% endfor %}
    </div>
</section>

{% endblock test_answer_detail %}