{% extends 'base.html' %}
{% load static %}
{% block question_detail %}

<h1>{{ question.id }}</h1>
<h3 class="q-module">Ethics 1</h3>
<h3 class="q-lo">{{ question.lo }}</h3>
<p class="center q-meta"><span class="q-type">{{ question.type }}</span> {{ question.number }} | Created by {{ question.author }}</p>
<p class="center q-difficulty">Question difficulty: {{ question.q_difficulty }}</p>
<p class="center q-warning">Question warning: {{ question.warning }}</p>     <!-- Create modal -->
<h2 class="q-question">{{ question.question }}</h2>
<ol class="q-answers">
    <li class="q-answer">{{ question.answer1 }}</li>
    <li class="q-answer">{{ question.answer2 }}</li>
    <li class="q-answer">{{ question.answer3 }}</li>
    <li class="q-answer">{{ question.answer4 }}</li>
    <li class="q-answer">{{ question.answer5 }}</li>
</ol>

{% endblock question_detail %}