{% load static %}

{% url 'questions' as question_url %}
{% url 'tests' as test_url %}
<!--{% url 'answers' as answer_url %}-->


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PiL certification</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/script.js' %}" defer></script>

</head>

<body class="flex-page font">

    <nav class="flex-nav">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/201108_zebrafish.png?20170707160639" alt="a digital rendering of a zebrafish">
        <ul class="nav-list">
            <li>
                <a class="nav-item {% if request.path == question_url %}active" aria-current="page{% endif %}" href="{% url 'questions' %}">Questions</a>
            </li>
            <li>
                <a class="nav-item {% if request.path == test_url %}active" aria-current="page{% endif %}" href="{% url 'tests' %}">Tests</a>
            </li>
        </ul>
    </nav>

    <main class="narrow">

        {% block question %}
            {% if request.path == question_url %}
                <p>Oops! The questions haven't loaded!</p>
            {% endif %}
        {% endblock question %}

        {% block test %}
            {% if request.path == test_url %}
                <p>Oops! The tests haven't loaded!</p>
            {% endif %}
        {% endblock test %}
        
    </main>

    <footer class="flex-footer">
        <img src="{% static 'images/1_real_rating.png' %}" alt="REAL Rating 1 - Automation. For more information, please visit REAL Good AI and navigate to their Rating page.">
    </footer>
</body>

</html>