{% load static %}

{% url 'questions' as question_url %}
{% url 'tests' as test_url %}
<!--answers will be listed as a paginated section under 'question_detail' & 'test_detail'-->

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PiL certification</title>

    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon/favicon.svg' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/script.js' %}" defer></script>

</head>

<body class="dark-background flex-page font margin-0">

    <nav class="dark-white flex-nav font-size-xl">
        <div class="navbar">
            <img class="zf-logo" src="{% static 'images/base/zebrafish.jpg' %}" alt="a digital sketch of a zebrafish">
            <ul class="nav-list nav-list-pages">
                <li class="nav-item">
                    <a class="{% if request.path == question_url %}active" aria-current="page{% endif %}" href="{% url 'questions' %}">Questions</a>
                </li>
                <li class="nav-item">
                    <a class="{% if request.path == test_url %}active" aria-current="page{% endif %}" href="{% url 'tests' %}">Tests</a>
                </li>
            </ul>
            <div class="nav-list nav-list-spacer"></div>
            <ul class="nav-list nav-list-auth">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="{% if request.path == logout_url %}active" aria-current="page{% endif %}" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="{% if request.path == signup_url %}active" aria-current="page{% endif %}"
                            href="{% url 'account_signup' %}">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="{% if request.path == login_url %}active" aria-current="page{% endif %}" href="{% url 'account_login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main class="flex-main narrow">

        {% block content %}
            {% if request.path == login_url %}
                <p>Oops! The login page hasn't loaded!</p>
            {% endif %}
            {% if request.path == logout_url %}
                <p>Oops! The logout page hasn't loaded!</p>
            {% endif %}
            {% if request.path == signup_url %}
                <p>Oops! The signup page hasn't loaded!</p>
            {% endif %}
        {% endblock content %}

        {% block question %}
            {% if request.path == question_url %}
                <p>Oops! The questions haven't loaded!</p>
            {% endif %}
        {% endblock question %}

        {% block question_detail %}
        {% endblock question_detail %}

        {% block test %}
            {% if request.path == test_url %}
                <p>Oops! The tests haven't loaded!</p>
            {% endif %}
        {% endblock test %}

        <!--{% block test_new %}
            {% if request.path == test_url %}
                <p>Oops! The tests haven't loaded!</p>
            {% endif %}
        {% endblock test_new %}-->
        
    </main>

    <div class="page-spacer"></div>

    <footer class="flex-footer primary-dark">
        <a class="footer-link" href="https://www.ucl.ac.uk" target="_blank" rel="noopener" aria-label="Welcome to UCL page (opens in a new tab)" title="Welcome to UCL page (opens in a new tab)">
            <img class="footer-item" src="{% static 'images/base/ucl_social_icon_square_380x380px.jpg' %}" alt="The University College London icon, demonstrating a purple outline of the main building.">
        </a>
        <a class="footer-link" href="https://www.realgoodai.org/real-rating#:~:text=Specialized%20AI%20tools,sound%2C%20or%20video)." target="_blank" rel="noopener" aria-label="REAL Good AI - REAL Rating 1 Automation description (opens in a new tab)" title="REAL Good AI - REAL Rating 1 Automation description (opens in a new tab)">
            <img class="footer-item" src="{% static 'images/base/1_real_rating.png' %}" alt="REAL Rating 1 - Automation. For more information, please visit REAL Good AI following the link attached to this image.">
        </a>
    </footer>
</body>

</html>