{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PiL certification</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/script.js' %}" defer></script>

</head>

<body class="flex-page">

    <nav class="flex-nav">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/201108_zebrafish.png?20170707160639" alt="a digital rendering of a zebrafish">
        <ul></ul>
    </nav>

    <main class="narrow">
        {% block question %}
            <p>Oops! The questions haven't loaded!</p>
        {% endblock question %}
    </main>

    <footer class="flex-footer"></footer>
</body>

</html>