{% extends 'base.html' %}
{% load static %}
{% block test_detail %}

<h1>{{ test.id }}</h1>
<section class="flex-section">
    <h3 class="font-medium t-type">{{ test.type }}</h3>
    <p>Examined by {{ test.tester }}</p>
</section>
<p class="center t-meta"><span class="t-date">{{ test.date }}</span></p>
<p class="center t-difficulty">Test difficulty: {{ test.t_difficulty }}</p>
<p class="center t-warning">Question warnings: {{ test.warnings }}</p>
<section class="t-questions">
    <h2 class="t-question-id">{{ question.id }}</h2>
    <p class="t-question">{{ question.question }}</p>
    <p class="t-answer">{{ test.answer_success }}</p>
</section>

<section class="answer-section">
    {{ answer.test_answers }}
</section>

{% endblock test_detail %}