{% extends "base.html" %}
{% load static %}

{% block test_form %}

<section class="flex-header">
    <h1>{% if answer %}Edit{% else %}New{% endif %} test</h1>
    <a class="button form-cancel header-button referrer" href="{% url 'tests' %}" aria-label="Return to the previous page">Cancel</a>
</section>
<form method="post" id="testForm" class="form">
    {% csrf_token %}
    {% for field in form %}
        {% if field.name == 'completed' %}
            <p>
                {{ field.label_tag }}
                {{ field }}
            </p>
            {% if field.errors %}
                <small class="error">{{ field.errors|striptags  }}</small> 
            {% endif %}
        {% else %}
            <p>
                {{ field.label_tag }} 
                {{ field }}
            </p>
            {% if field.errors %}
                <small class="error">{{ field.errors|striptags  }}</small> 
            {% endif %}
        {% endif %}
    {% endfor %}
    <button type="submit" id="testSubmit" class="button form-submit mb-3" aria-label="Submit the test form">Submit</button>
</form>

{% endblock test_form %}