{% extends 'base.html' %}
{% load static %}
{% block test_detail %}

<h1>{{ test.id }}</h1>

<section class="flex-section">
    <h3 class="font-medium t-type">{{ test.type }}</h3>
    <p>Examined by {{ test.tester }}</p>
</section>

<section class="meta">
    <p class="center t-meta"><span class="t-date">{{ test.date }}</span></p>
    <p class="center">Test difficulty: <span class="t-difficulty">{{ test.t_difficulty }}</span></p>
    <p class="center">Question warnings: <span class="q-warnings">Error in calculation. [JavaScript disabled]</span></p>
    <p>Number of participants: {{ test.participant_number }}</p>
</section>

<section class="t-questions">
    <!-- delete -->section.t-questions --> make properties in Test models.py
    {% for tq in t_questions %}
        <h2 class="t-question-id">{{ tq.q_id }}</h2>
        <p class="t-question">{{ tq.questions }}</p>
        <p class="t-answer">{{ tq.q_difficulty }}</p>
    {% endfor %}
</section>

{% if user.is_authenticated %}
    <section class="answer-section">
        {% block test_answer_detail %}
            <section class="flex-section">
                <p class="no-answers">
                    This test does not contain E1L multiple choice questions/answers.
                </p>
                    <a href="{% url 'answer_new' %}" class="button header-button">New answers</a>
            </section>
        {% endblock test_answer_detail %}
    </section>
{% endif %}

{% endblock test_detail %}