{% extends "base.html" %}
{% load static %}
{% block test %}

{% url 'test_new' as test_new_url %}

<section class="flex-header">
    <h1>Tests list</h1>
    <a class="button header-button" href="{% url 'test_new' %}">New</a>
</section>
{% for t in test_list %}
    <a href="{% url 'test_detail' t.slug %}" class="highlight-link">
        <h2 class="h2"><span class="h2-text">{{ t.id }}</span></h2>
        <div class="highlight-container">
            <p>Date performed: {{ t.date }}</p>
            <p>Difficulty: <span class="t-difficulty">{{ t.t_difficulty }}</span></p>
        </div>
    </a>
{% endfor %}

{% endblock test %}