{% extends "base.html" %}
{% load static %}
{% block test %}

<section class="flex-header">
    <h1>Tests list</h1>
    {% if user.is_authenticated %}
        <a class="button form-new header-button" href="{% url 'test_form' %}" aria-label="A form to create a new test">New</a>
    {% endif %}
</section>
<section class="flex-testlist">
    {% for t in test_list %}
        <a href="{% url 'test_detail' t.slug %}" class="highlight-link">
            <h2 class="h2"><span class="h2-text">{{ t.id }}</span></h2>
            <div class="highlight-container">
                <p>Date performed: {{ t.date }}</p>
                <p>Number of participants: {{ t.participant_number }}</p>
            </div>
        </a>
    {% endfor %}
</section>

{% endblock test %}