@font-face {
    font-family: "UCLSans";
    src:
        local("UCLSans-Regular"),
        url("UCLSans/UCLSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: "UCLSans";
    src:
        local("UCLSans-Bold"),
        url("UCLSans/UCLSans-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "UCLSans";
    src:
        local("UCLSans-Bold"),
        url("UCLSans/UCLSans-Light.otf") format("opentype");
    font-weight: lighter;
}

@font-face {
    font-family: "UCLSans";
    src:
        local("UCLSans-Italic"),
        url("UCLSans/UCLSans-Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "UCLSans";
    src:
        local("UCLSans-BoldItalic"),
        url("UCLSans/UCLSans-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}


:root {
    --color-primary: #983bfe;
    --color-secondary: #38d8ff;
    --color-light: #9876b0;
    --color-dark: #2f1c48;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-transparent: #00000000;
    --color-background: #dbd4e0;
    --font: 'UCLSans', sans-serif;
    /*--font-b: 'UCLSans-Bold', sans-serif;
    --font-i: 'UCLSans-Italic', sans-serif;
    --font-bi: 'UCLSans-BoldItalic', sans-serif;*/
}


/* align */

.margin-0 {
    margin: 0px;
}

.narrow {
    margin: 0% 10%;
}


/* color */

.dark-transparent {
    color: var(--color-dark);
    border-color: var(--color-dark);
    background-color: var(--color-transparent);
}

.dark-background {
    color: var(--color-dark);
    border-color: var(--color-dark);
    background-color: var(--color-background);
}

/*.primary-white {
    color: var(--color-primary);
    font-size: large;
    border-color: var(--color-primary);
    background-color: var(--color-white);
}*/

/*.light-white {
    border-color: var(--color-light);
    background-color: var(--color-white);
}*/

.dark-white {
    color: var(--color-dark);
    border-color: var(--color-dark);
    background-color: var(--color-white);
}

/*.black-white {
    color: var(--color-black);
    border-color: var(--color-black);
    background-color: var(--color-white);
}*/

/*.primary-black {
    border-color: var(--color-primary);
    background-color: var(--color-black);
}*/

/*.secondary-black {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    background-color: var(--color-black);
}*/

/*.light-black {
    color: var(--color-light);
    font-size: large;
    border-color: var(--color-light);
    background-color: var(--color-black);
}*/

/*.white-black {
    color: var(--color-white);
    border-color: var(--color-white);
    background-color: var(--color-black);
}*/

.dark-light {
    border-color: var(--color-dark);
    background-color: var(--color-light);
}

/*.white-light {
    border-color: var(--color-white);
    background-color: var(--color-light);
}*/

/*.black-light {
    color: var(--color-black);
    font-size: large;
    border-color: var(--color-black);
    background-color: var(--color-light);
}*/

.primary-dark {
    border-color: var(--color-primary);
    background-color: var(--color-dark);
}

/*.secondary-dark {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    background-color: var(--color-dark);
}*/

/*.light-dark {
    border-color: var(--color-light);
    background-color: var(--color-dark);
}*/

/*.white-dark {
    color: var(--color-white);
    border-color: var(--color-white);
    background-color: var(--color-dark);
}*/

/*.dark-primary {
    border-color: var(--color-dark);
    background-color: var(--color-primary);
}*/

/*.white-primary {
    color: var(--color-white);
    font-size: large;
    border-color: var(--color-white);
    background-color: var(--color-primary);
}*/

/*.black-primary {
    border-color: var(--color-black);
    background-color: var(--color-primary);
}*/

/*.dark-secondary {
    color: var(--color-dark);
    border-color: var(--color-dark);
    background-color: var(--color-secondary);
}*/

/*.black-secondary {
    color: var(--color-black);
    border-color: var(--color-black);
    background-color: var(--color-secondary);
}*/


/* flex */

.flex-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-nav {
    flex: 0 0 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.flex-header {
    display: flex;
    justify-content: space-between;
}

.flex-main {
    flex: 2 0;
}

.page-spacer {
    flex: 9 9 0px;
    background-color: #38d8ff;     /* delete */
}

.flex-footer {
    flex: 0 0 100px;
    max-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


/* font */

.font {
    font-family: var(--font);
}

.font-size-xl {
    font-size: x-large;
}


/*  |||  ||||  ||||| |||||  |||| |||||  |||
/* |   | |   |   |   |     |       |   |
/* |   | ||||    |   |||   |       |    |||
/* |   | |   |   |   |     |       |       |
/*  |||  ||||  |||   |||||  ||||   |    |||  */

a {
    padding: 10px;
    color: var(--color-dark);
    background-color: var(--color-transparent);
}

a:hover {
    transition: 1s;
    color: var(--color-secondary);
    background-color: var(--color-black);
    border-radius: 50%;
}

.button {
    border: none;
    border-radius: 10px;
    background-color: var(--color-dark);
    color: var(--color-white);
    font-size: large;
    padding: 10px;
}

.button:hover {
    transition: 1s;
    background-color: var(--color-secondary);
    color: var(--color-black);
    border-radius: 10px;
}

.center {
    text-align: center;
}

/*.form {} /* 0_templates/login.html rename of .login if it doesn't actually do anything & 0_templates/signup.html rename of .signup... */

.h2 {
    margin-block-end: 0px;
    padding: 5px;
}

input {
    border: 1px solid var(--color-dark);
    border-radius: 5px;
    padding: 3px;
    background-color: var(--color-white);
}

.header-button {
    font-size: large;
    height: 1.5em;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
}

.padding-left-right {
    padding: 0px 10px;
}


/*  |||  |||||  |||| ||||| |||||  |||  |   |  |||
/* |     |     |       |     |   |   | ||  | |
/*  |||  |||   |       |     |   |   | | | |  |||
/*     | |     |       |     |   |   | |  ||     |
/*  |||  |||||  ||||   |   |||||  |||  |   |  |||  */


/* nav.dark-white.flex-nav.font-size-xl */

.zf-logo {
    flex: 2 1 300px;
    max-width: 300px;
    max-height: 15vh;
    aspect-ratio: 596 / 231;
}

.navbar {
    flex: 1 2 5000px;
    flex-flow: row nowrap;
    display: flex;
    justify-content: space-around;
}

.nav-list {
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-item {
    padding-top: 5%;
}

.active {
    color: var(--color-primary);
}


/* footer.flex-footer.primary-dark */

.footer-item {
    height: 100px;
    max-height: 95%;
}

.footer-link {
    padding: 0px;
    color: var(--color-dark);
    background-color: var(--color-transparent);
}

.footer-link:hover {
    transition: none;
    color: var(--color-secondary);
    background-color: var(--color-transparent);
    border-radius: 0%;
}


/* ||||  |      |||   |||| |  |   |||
/* |   | |     |   | |     | |   |
/* ||||  |     |   | |     ||     |||
/* |   | |     |   | |     | |       |
/* ||||  |||||  |||   |||| |  ||  |||  */

.highlight-container {
    padding: 5px;
    margin: 2px;
}

.highlight-link:hover .highlight-container {
    border: 2px solid var(--color-black);
    border-radius: 0px 0px 10px 10px;
    margin: 0px;
}

.highlight-link {
    text-decoration: none;
}

.highlight-link:hover {
    color: var(--color-dark);
    background-color: var(--color-transparent);
    border-radius: 0%;
}

.highlight-link:hover .h2 {
    background-color: var(--color-black);
    border-radius: 10px 10px 0px 0px;
}

.highlight-link:hover .h2-text {
    transition: 1s;
    color: var(--color-secondary);
}


/* test_new.html */

.mb-3 {
    margin-bottom: 30px;
}

.form-hint {
    font-size: small;
    font-weight: lighter;
}

.form-label {
    padding: 5px;
}

.select {
    border: 1px solid var(--color-dark);
    border-radius: 5px;
}


/* question_detail.html */

.q-answers {
    font-size: large;
    padding-inline-start: 50px;
}

.q-answer {
    margin-bottom: 5px;
}


/* question_list.html */

.q-question-excerpt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*  |||   |||| ||||  ||||| ||||| |   |  |||
/* |     |     |   | |     |     ||  | |
/*  |||  |     ||||  |||   |||   | | |  |||
/*     | |     | |   |     |     |  ||     |
/*  |||   |||| |  || ||||| ||||| |   |  |||  */

@media screen and (max-width: 992px) {
    .navbar {
        flex-flow: wrap;
    }

    .zf-logo {
        max-width: 35%;
    }

    .nav-list-pages {
        order: 3;
        padding: 0px;
        text-align: center;
        background-color: transparent;
    }

    .nav-item {
        background-color: transparent;
        padding: 0px;
    }
}