@font-face {
    font-family: UCLSans;
    src: url(0_static\css\UCLSans\UCLSans-Regular.otf);
}

@font-face {
    font-family: UCLSans-Bold;
    src: url(0_static\css\UCLSans\UCLSans-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: UCLSans-Italic;
    src: url(0_static\css\UCLSans\UCLSans-Italic.otf);
    font-style: italic;
}

@font-face {
    font-family: UCLSans-BoldItalic;
    src: url(0_static\css\UCLSans\UCLSans-BoldItalic.otf);
    font-style: italic;
}


:root {
    --color-primary: #983bfe;
    --color-secondary: #38d8ff;
    --color-light: #9876b0;
    --color-dark: #2f1c48;
    --color-white: #ffffff;
    --color-black: #000000;
    --font: 'UCLSans', sans-serif;
    --font-b: 'UCLSans-Bold', sans-serif;
    --font-i: 'UCLSans-Italic', sans-serif;
    --font-bi: 'UCLSans-BoldItalic', sans-serif;
}


/* align */

.narrow {
    margin: 0% 10%;
}


/* Flex */

.flex-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
}

.flex-footer {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px;
}