@font-face {
    font-family: "UCLSans";
    src:
        local("UCLSans-Regular"),
        url("UCLSans/UCLSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: "UCLSans";
    src:
        local("UCLSans-Bold"),
        url("UCLSans/UCLSans-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "UCLSans";
    src:
        local("UCLSans-Italic"),
        url("UCLSans/UCLSans-Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "UCLSans";
    src:
        local("UCLSans-BoldItalic"),
        url("UCLSans/UCLSans-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}


:root {
    --color-primary: #983bfe;
    --color-secondary: #38d8ff;
    --color-light: #9876b0;
    --color-dark: #2f1c48;
    --color-white: #ffffff;
    --color-black: #000000;
    --font: 'UCLSans', sans-serif;
    /*--font-b: 'UCLSans-Bold', sans-serif;
    --font-i: 'UCLSans-Italic', sans-serif;
    --font-bi: 'UCLSans-BoldItalic', sans-serif;*/
}


/* align */

.margin-0 {
    margin: 0px;
}

.narrow {
    margin: 0% 10%;
}


/* color */

/*.primary-white {
    color: var(--color-primary);
    font-size: large;
    border-color: var(--color-primary);
    background-color: var(--color-white);
}*/

/*.light-white {
    border-color: var(--color-light);
    background-color: var(--color-white);
}*/

.dark-white {
    color: var(--color-dark);
    border-color: var(--color-dark);
    background-color: var(--color-white);
}

/*.black-white {
    color: var(--color-black);
    border-color: var(--color-black);
    background-color: var(--color-white);
}*/

/*.primary-black {
    border-color: var(--color-primary);
    background-color: var(--color-black);
}*/

/*.secondary-black {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    background-color: var(--color-black);
}*/

/*.light-black {
    color: var(--color-light);
    font-size: large;
    border-color: var(--color-light);
    background-color: var(--color-black);
}*/

/*.white-black {
    color: var(--color-white);
    border-color: var(--color-white);
    background-color: var(--color-black);
}*/

.dark-light {
    border-color: var(--color-dark);
    background-color: var(--color-light);
}

/*.white-light {
    border-color: var(--color-white);
    background-color: var(--color-light);
}*/

/*.black-light {
    color: var(--color-black);
    font-size: large;
    border-color: var(--color-black);
    background-color: var(--color-light);
}*/

.primary-dark {
    border-color: var(--color-primary);
    background-color: var(--color-dark);
}

/*.secondary-dark {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    background-color: var(--color-dark);
}*/

/*.light-dark {
    border-color: var(--color-light);
    background-color: var(--color-dark);
}*/

/*.white-dark {
    color: var(--color-white);
    border-color: var(--color-white);
    background-color: var(--color-dark);
}*/

/*.dark-primary {
    border-color: var(--color-dark);
    background-color: var(--color-primary);
}*/

/*.white-primary {
    color: var(--color-white);
    font-size: large;
    border-color: var(--color-white);
    background-color: var(--color-primary);
}*/

/*.black-primary {
    border-color: var(--color-black);
    background-color: var(--color-primary);
}*/

/*.dark-secondary {
    color: var(--color-dark);
    border-color: var(--color-dark);
    background-color: var(--color-secondary);
}*/

/*.black-secondary {
    color: var(--color-black);
    border-color: var(--color-black);
    background-color: var(--color-secondary);
}*/


/* flex */

.flex-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-nav {
    flex: 0 0 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.flex-main {
    flex: 2 0;
}

.page-spacer {
    flex: 9 9 0px;
    background-color: #38d8ff;     /* delete */
}

.flex-footer {
    flex: 0 0 100px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}


/* font */

.font {
    font-family: var(--font);
}


/*  |||  ||||  ||||| |||||  |||| |||||  |||
/* |   | |   |   |   |     |       |   |
/* |   | ||||    |   |||   |       |    |||
/* |   | |   |   |   |     |       |       |
/*  |||  ||||  |||   |||||  ||||   |    |||  */

.btn {} /* 0_templates/login.html */

/*.form {} /* 0_templates/login.html rename of .login if it doesn't actually do anything & 0_templates/signup.html rename of .signup... */


/*  |||  |||||  |||| ||||| |||||  |||  |   |  |||
/* |     |     |       |     |   |   | ||  | |
/*  |||  |||   |       |     |   |   | | | |  |||
/*     | |     |       |     |   |   | |  ||     |
/*  |||  |||||  ||||   |   |||||  |||  |   |  |||  */


/* nav.dark-white.flex-nav */

.zf-logo {
    flex: 2 1 300px;
    max-height: 100px;
}

.active {
    color: var(--color-black);
}

.nav-list {
    flex: 1 2 5000px;
    flex-flow: row nowrap;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}


/* footer.flex-footer.primary-dark */

.footer-item {
    height: 100px;
}