@font-face {
    font-family: "UCLSans";
    src:
        local("UCLSans-Regular"),
        url("0_static/css/UCLSans/UCLSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: "UCLSans-Bold";
    src:
        local("UCLSans-Bold"),
        url("0_static/css/UCLSans/UCLSans-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "UCLSans-Italic";
    src:
        local("UCLSans-Italic"),
        url("0_static/css/UCLSans/UCLSans-Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "UCLSans-BoldItalic";
    src:
        local("UCLSans-BoldItalic"),
        url("0_static/css/UCLSans/UCLSans-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}


:root {
    --color-primary: #983bfe;
    --color-secondary: #38d8ff;
    --color-light: #9876b0;
    --color-dark: #2f1c48;
    --color-white: #ffffff;
    --color-black: #000000;
    --font: 'UCLSans', sans-serif;
    --font-b: 'UCLSans-Bold', sans-serif;
    --font-i: 'UCLSans-Italic', sans-serif;
    --font-bi: 'UCLSans-BoldItalic', sans-serif;
}


/* align */

.narrow {
    margin: 0% 10%;
}


/* flex */

.flex-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
}

.flex-footer {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px;
}


/* font */

.font {
    font-family: var(--font);
}