/* align */

.narrow {
    margin: 0% 10%;
}


/* Flex */

.flex-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
}

.flex-footer {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px;
}